<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cloudinary_url(@cocktail.photo.key) %>);">
  <div class="container">
<h1><%= @cocktail.name %></h1>
  </div>
</div>



<% if @cocktail.doses.present? %>
  <% @cocktail.doses.each do |dose| %>
    <h1><%= dose.ingredient.name %>: <%= dose.description %> 
     <%= link_to dose_path(dose), class: "btn btn-gradient", method: :delete, data: { confirm: "Are you sure?"} do %>
                      <h2>Delete ingredient</h2>
      <% end %> </h1>
    <hr>
  <% end %>
    <%= link_to "Add some more ingredients!",  new_cocktail_dose_path(@cocktail), class: "btn btn-gradient" %>
<% else %>
  <h2>No ingredients listed, add some!</h2>
  <%= link_to "Add some ingredients!",  new_cocktail_dose_path(@cocktail), class: "btn btn-gradient" %>
<% end %>
<%= link_to "Return to Cocktails list", cocktails_path, class: "btn btn-gradient" %>

